:root {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #d35400;
  --bg-color: #f4f4f9;
  --card-bg: #ffffff;
  --text-color: #333333;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}
